$md-mcgpalette0: (
    50 : #e0f4ef,
    100 : #b3e4d6,
    200 : #80d3bb,
    300 : #4dc19f,
    400 : #26b38b,
    500 : #00a676,
    600 : #009e6e,
    700 : #009563,
    800 : #008b59,
    900 : #007b46,
    A100 : #a8ffd4,
    A200 : #75ffba,
    A400 : #42ffa1,
    A700 : #29ff94,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-mcgpalette1: (
  50 : #e2e3e2,
  100 : #b6b8b6,
  200 : #868986,
  300 : #555955,
  400 : #303630,
  500 : #0c120c,
  600 : #0a100a,
  700 : #080d08,
  800 : #060a06,
  900 : #030503,
  A100 : #0a100a,
  A200 : #080d08,
  A400 : #060a06,
  A700 : #030503,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #ffffff,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
    )
);

$md-mcgpalette2: (
  50 : #fbe9ec,
  100 : #f5c7d0,
  200 : #efa2b0,
  300 : #e87d90,
  400 : #e36179,
  500 : #de4561,
  600 : #da3e59,
  700 : #d5364f,
  800 : #d12e45,
  900 : #c81f33,
  A100 : #ffffff,
  A200 : #ffcdd2,
  A400 : #ff9aa4,
  A700 : #ff808d,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$webApp-primary: mat-palette($mat-indigo);
$webApp-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$webApp-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$webApp-theme: mat-light-theme($webApp-primary, $webApp-accent, $webApp-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($webApp-theme);

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$webApp-primary: mat-palette($md-mcgpalette0);
$webApp-accent: mat-palette($md-mcgpalette1, A200, A100, A400);

// The warn palette is optional (defaults to red).
$webApp-warn: mat-palette($md-mcgpalette2);

// Create the theme object (a Sass map containing all of the palettes).
$webApp-theme: mat-light-theme($webApp-primary, $webApp-accent, $webApp-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($webApp-theme);

@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Playball|Roboto|Yesteryear&display=swap");
@import "~material-icons/iconfont/material-icons.css";
$primary: #00a676;

body {
  margin: 0;
  font-family: "Roboto", "sans-serif";
  font-size: 18px;
  overscroll-behavior-y: contain;
}
html,
body {
  margin: 0;
  height: 100%;
}
.container {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

.header-app {
  position: fixed;
  z-index: 1000;
  background: $primary;
  color: white;
  float: right;
  a {
    text-decoration: none;
  }
  .logo {
    font-size: 30px;
    font-family: "Yesteryear", cursive;
  }
}

.fill-remaining-space {
  flex: 1 1 auto;
}

h1 {
  margin-top: 2em;
}


/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid $primary;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

html::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-track {
  // set style to track
  background: #e6e7ec ;
}
html::-webkit-scrollbar-thumb {
  // sets style to thumb
  background: rgba(118, 124, 119, 0.5);
  border-radius: 10px;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#myDiv {
  display: none;
  text-align: center;
}

app-root {
  text-align: left;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

