.info-container {
    width: 100%;
  }

  
.title-info {
    background-color: #0c120c;
    width:30em;
    padding-bottom:0.1em;
    padding-top:0.1em;
    text-align:center;
    margin: 0 auto;
    margin-top: 2em;
    // transform: rotate(-2deg);
}

h1 {
    color: #f7fade;
    font-weight: normal;
    font-size: 36px;
    font-family: "Playball", "sans-serif";
    margin:10px;
}
.column {
    flex: 0 1 calc(25% - 32px);
    margin-top:32px;
}

.info-content{
    width:80%;
    margin: 0 auto;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.info-content > * {
    box-sizing: border-box;
  }
  .info-content > *:not(:last-child) {
    margin-right: 32px;
  }


/* medium size viewport */
@media screen and (max-width: 1259px) {
  /* Column Gap */
  .info-content > *:not(:last-child) {
    margin-right: 32px;
  }
  /* Item sizing */
  .column {
    flex: 0 1 calc(50% - 32px);
  }
}
/* small size viewport */
@media screen and (max-width: 599px) {
  .info-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .info-content > *:not(:last-child) {
    margin-right: unset;
    margin-bottom: 32px;
  }
  .title-info {
    width:100%;
    margin-top:0;
  }
}

.button-container {
  width:100%;
  text-align:center;
  margin-top: 1em;
}
button {
  margin: auto;
}

.icon {
    background-color: rgb(193,247,220,.5);
    width:10em;
    height:10em;
    border-radius:50%;
    margin-left:auto;
    margin-right:auto;
}

.carimg {
    margin-top:1em;
    margin-left: 1em;
    width: 8em;
    height: 7em;
}

.mapimg, .pathimg, .chartsimg {
    margin-top: 1.5em;
    margin-left: 1.5em;
    width: 7em;
    height: 7em;
}

.columntitle {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    text-align: center;
    font-family: "Roboto", "Sans serif";
    font-size:20px;
}

.columncontent {
    font-size: 14px;
    text-align:justify;
    opacity: 80%;
}

.animated {
    visibility: visible !important;
}
.hide-on-init {
    visibility: hidden;
}

.clear {
    clear:both;
}

button {
  background-color: #0c120c;
  color: #f7fade;
  border-color: #0c120c;
  border-radius: 5px;
  font-family: "Open Sans", "sans-serif";
  font-size: 20px;
  padding: 5px 10px 7px 10px;
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.3);
}