<div class="info-container">
  <div class="title-info">
    <h1>Une modélisation en temps réel</h1>
  </div>
  <div class="info-content">
    <div
      class="column animated hide-on-init"
      animateOnScroll
      animationName="animated fadeIn"
    >
      <div class="icon"><img class="carimg" src="./assets/img/car.png" /></div>
      <div class="columntitle">Voitures Autonomes</div>
      <div class="columncontent">
        Imaginez une ville où les voiture se déplacent toutes d'elles-mêmes,
        sans aucun être humain au volant. Cette ville, c'est la ville de demain.
        Aujourd'hui on estime que l'homme est à l'origine de 90% des accidents
        de la route. A Belfortmatique nous souhaitons montrer que supprimer le
        facteur humain de la conduite est la meilleure solution pour réduire
        drastiquement les drames survenant sur la route.
      </div>
    </div>
    <div
      class="column animated hide-on-init"
      animateOnScroll
      animationName="animated fadeIn"
    >
      <div class="icon"><img class="mapimg" src="./assets/img/map.png" /></div>
      <div class="columntitle">Carte connectée</div>
      <div class="columncontent">
        Sur notre carte, vous avez la possibilité d'observer en temps réel
        l'état du traffic et de savoir où se trouve le véhicule qui viendra vous
        chercher pour vous emmener à bon port. Sa facilité d'utilisation et son
        côté intuitif ont été notre priorité tout au long de son développement.
        Et puis, n'est-ce pas hypnotisant d'observer ces voitures
        s'auto-réguler? Prenez un moment, relaxez-vous, on s'occupe de tout!
      </div>
    </div>
    <div
      class="column animated hide-on-init"
      animateOnScroll
      animationName="animated fadeIn"
    >
      <div class="icon">
        <img class="pathimg" src="./assets/img/path.png" />
      </div>
      <div class="columntitle">Intinéraires Rapides</div>
      <div class="columncontent">
        Grâce à de nombreux algorithmes travaillant sur le réseau routier, nous
        sommes capables de vous fournir l'itinéraire le plus rapide. Vous allez
        nous dire &#171; Oui, donc le plus court, en somme. &#187; Pas
        forcément! En fonction de l'encombrement des routes, votre voiture
        contournera les embouteillages pour gagner en efficacité. Fini
        l'angoisse dans les bouchons!
      </div>
    </div>
    <div
      class="column animated hide-on-init"
      animateOnScroll
      animationName="animated fadeIn"
    >
      <div class="icon">
        <img class="chartsimg" src="./assets/img/graph.png" />
      </div>
      <div class="columntitle">Données Optimisées</div>
      <div class="columncontent">
        Afin d'avoir une navigation fluide et intuitive, les calculs sont
        effectués à distance pour permettre une expérience client optimale. Son
        efficacité repose sur une communication optimisée entre un serveur dédié
        et notre site. La puissance des calculs effectués sur le serveur
        permettent d'envisager une meilleure implémentation web sans devoir se
        soucier des données à traiter.
      </div>
    </div>
  </div>
  <div class="button-container">
    <a href="#" routerLink="/test-city"><button>COMMANDER</button></a>
  </div>
</div>
<span class="clear"></span>
