.credit-container {
    width: 100%;
    height: auto;
    display:block;
    background-color:#f7fade;
}

.credit-content {
    width:80%;
    margin: 0 auto;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 2em;
}

.row > *:not(:last-child) {
    margin-right: 32px;
  }

.row{
    height:8em;
    margin-top:1em;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:40px;
}

.identitycard {
    flex: 0 1 calc(50% - 32px);
    margin-bottom:40px;
}

/* medium size viewport */
@media screen and (max-width: 1259px) {
    
    .row {
        display: flex;
        flex-direction: row;
        height:auto;
        margin-top: 0;
        margin-bottom:0;
      }
      .identitycard {
        display: flex;
        flex-direction: row;
        margin:1em;
        flex: 0 1 100%;
        margin-bottom:40px;
      }

      .row > *:not(:last-child) {
        margin-right: 1em;
      }
  }
  /* small size viewport */
  @media screen and (max-width: 599px) {
    .row {
        display: flex;
        flex-direction: row;
        height:auto;
        margin-top: 0;
        margin-bottom:0;
      }
      .identitycard {
        display: block;
        flex-direction: row;
        margin:1em;
        flex: 0 1 100%;
      }

      .row > *:not(:last-child) {
        margin-right: 1em;
      }

      .icon {
        width:2em;
        height:2em;
      }
    
  }

.nametag, .description {
    margin-left:0.5em;
    margin-bottom:0.5em;
}

.nametag {
    font-size:1em;
    font-weight:bold;
}

.description {
    font-size: 14px;
    text-align: justify;
    overflow:auto;
    height:7em;
    padding-right:0.7em;
}

// .description::-webkit-scrollbar {
//     width: 10px;
//   }
//   .description::-webkit-scrollbar-track {
//     // set style to track
//     background: #e6e7ec ;
//     border-radius: 10px;
//   }
//   .description::-webkit-scrollbar-thumb {
//     // sets style to thumb
//     background: rgba(118, 124, 119, 0.5);
//     border-radius: 10px;
//   }


.clear{
    clear:both;
}

h1{
    color: #0c120c;
    font-weight: normal;
    font-size: 2em;
    font-family: "Playball", "sans-serif";
}

.credit-title {
    width: 100%;
    text-align: center;
}
.icon {
    width:7em;
    height:7em;
    border-radius:50%;
    background-size: contain;
}

#manar {
  background-image: url("src/assets/img/manar.jpg");
}

#yan {
  background-image: url("src/assets/img/yan.jpg");
}

#melvyn {
  background-image: url("src/assets/img/melvyn.png");
}

#theophane {
  background-image: url("src/assets/img/theophane.jpg");  
}

#melanie {
  background-image: url("src/assets/img/melanie.JPG");  
}

#etienne {
  background-image: url("src/assets/img/etienne.png");  
  background-color: rgb(193,247,220,.5);
}