<p class="clear"></p>
<div class="credit-container">
  <div class="credit-title">
    <h1>Notre équipe</h1>
  </div>
  <div class="credit-content" gdAuto>
    <div class="row" fxLayout="row">
      <div class="identitycard">
        <div class="icon" id="theophane"></div>
        <div flexLayout="column" fxFlex>
          <div class="nametag">Théophane Dumas</div>
          <div class="description">
            Mordu d’informatique, je cherche à apprendre toujours plus en vue de
            réaliser de beaux projets comme celui-ci. Si mon domaine de
            prédilection est l’algorithmie je me passionne aussi pour
            l’intelligence artificielle et la cybersécurité.
          </div>
        </div>
      </div>
      <div class="identitycard">
        <div class="icon" id="melvyn"></div>
        <div flexLayout="column" fxFlex>
          <div class="nametag">Melvyn Pyrolli</div>
          <div class="description">
            Error 404: description not found.
          </div>
        </div>
      </div>
    </div>
    <div class="row" fxLayout="row">
      <div class="identitycard">
        <div class="icon" id="manar"></div>
        <div flexLayout="column" fxFlex>
          <div class="nametag">Manar Benkeri</div>
          <div class="description">
            Rigueur, sens de responsabilité et d’organisation sont les traits
            qui définissent ma personnalité. J’essaye toujours de répondre aux
            attentes de mes collègues et d’apprendre plus sur le domaine qui me
            passionne : le développement web.
          </div>
        </div>
      </div>

      <div class="identitycard">
        <div class="icon" id="melanie"></div>
        <div flexLayout="column" fxFlex>
          <div class="nametag">Mélanie Lamy</div>
          <div class="description">
            Poussée par la curiosité et l'envie de bien faire, j'ai trouvé mon
            bonheur dans le développement web qui me permet d'étendre mes
            connaissances et de faire des découvertes au quotidien tout en
            laissant libre court à ma créativité.
          </div>
        </div>
      </div>
    </div>
    <div class="row" fxLayout="row">
      <div class="identitycard">
        <div class="icon" id="yan"></div>
        <div flexLayout="column" fxFlex>
          <div class="nametag">Yan Imensar</div>
          <div class="description">
            Competiteur dans l'âme, j'aime relever des défis et repousser les
            limites toujours plus loins. Vive Angular.
          </div>
        </div>
      </div>
      <div class="identitycard">
        <div class="icon" id="etienne"></div>
        <div flexLayout="column" fxFlex>
          <div class="nametag">Etienne Trameaux</div>
          <div class="description">
            Passionné d’informatique et curieux, je suis toujours prêt à en
            apprendre plus et à aider les gens moins à l’aise avec ces
            technologies. En plus de l'agorithmie, je m'interesse beaucoup aux
            algorithmes de traitement d'image, ou de données plus généralement
            grâce du deep-learning.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
