
mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}
 
mat-sidenav {
    width: 250px;
    position:fixed;
}

#container {
    top: 13px !important;
   }
   
   @media(max-width: 599px) {
     #container {
       top: 10px !important;
     }
   }
