<mat-toolbar class="header-app">
  <mat-toolbar-row>
    <button
      mat-icon-button
      (click)="sidenav.toggle()"
      fxShow="true"
      fxHide.gt-sm
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span class="logo">Belfortmatique</span>
    <span class="fill-remaining-space"></span>
    <div fxShow="true" fxHide.lt-md class="nav-links">
      <!-- The following menu items will be hidden on both SM and XS screen sizes -->
      <a href="#" mat-button
        ><i class="material-icons md-36">home</i> Accueil</a
      >
      <a href="#/chat/CDl1RZrdDWsssE6S3vxD" mat-button
        ><i class="material-icons md-36">chat</i> Messagerie</a
      >
      <a href="#/utilisateurs" mat-button
        ><i class="material-icons md-36">group</i> Utilisateurs</a
      >
      <a href="#" mat-button routerLink="/test-city"
        ><i class="material-icons md-36">directions_car</i> Commander</a
      >
      <a href="#/contact" mat-button
        ><i class="material-icons md-36">person</i> Contact</a
      >
      <a href="#" mat-button routerLink="/login">Login</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
      <a href="#" mat-list-item (click)="sidenav.toggle()"
        ><i class="material-icons md-36">home</i> Accueil</a
      >
      <a
        href="#"
        mat-list-item
        routerLink="/test-city"
        (click)="sidenav.toggle()"
        ><i class="material-icons md-36">directions_car</i> Commander</a
      >
      <a href="#/contact" mat-list-item (click)="sidenav.toggle()"
        ><i class="material-icons md-36">person</i> Contact</a
      >
      <a
        href="#"
        mat-list-item
        routerLink="/login"
        (click)="sidenav.toggle()"
        >Login</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill fullscreen id="container">
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
