.titre {
    color: #0c120c;
    font-weight: normal;
    font-size: 2em;
    font-family: "Playball", "sans-serif";
    text-align:center;
    margin-bottom: -10px;
  }

  p {
    text-align:center;
    font-weight: normal;
    font-size: 1em;
    margin-top: 20px;
  }
  .mat-button {
    width: 50%;
    margin-left: 25%;
    margin-top: 1%;
    text-align:center;
    background-color: #00a676;
    font-size: 100%;
    color: white;
  }
.row {
  width: 100%;
    margin-top: 1%;
    display: block !important;
}
.field {
display: block!important;

}

.googleicon{
  width:25px;
  height:25px;
}
.mat-card{
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img {
  border-radius: 50%;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}