<div *ngIf="auth.user | async; then authenticated else guest">
        <!-- template will replace this div -->
</div>
<ng-template #authenticated>
        <div *ngIf="user | async as user" style="margin-top: 5%; margin-bottom: 5%; align-content: center;">
            <mat-card>
                    <mat-card-title>
            <h3 class="titre">Bienvenue {{ user.displayName }}</h3></mat-card-title>
            <img  [src]="user.photoURL || 'assets/img/user.jpg' ">
            <p>UID: {{ user.uid }}</p>
            <p>Nom: {{ user.displayName }} </p>
            <p>Adresse email: {{ user.email }} </p>
            
            <button mat-button (click)="auth.signOut()">Logout</button>

        </mat-card>
        </div>
       
           
        
</ng-template>

<ng-template #guest>
    
<div style="margin-top: 5%; margin-bottom: 5%; align-content: center;">
        <mat-card-content>
        <mat-tab-group style="width: 50%; margin-left: 25%;">
                <mat-tab label = "Inscription"> 
        
        
   
        <div class="titre" >Inscription</div>
    <form  [formGroup]="registerForm" (ngSubmit)="signUp()" style="align-content: center;"
    
 >
        <div class="row">
          <div class="col-md-12" >
                <mat-form-field class="field" >
                        <input required formControlName="nom" matInput placeholder="nom"/>
                        <mat-icon matSuffix [color]="color">person</mat-icon>
                        <mat-error>
                          erreur nom
                        </mat-error>
                </mat-form-field>   
          </div>
        </div>


        <div class="row">
                <div class="col-md-12" >
                <mat-form-field class="field">
                        <input required formControlName="email" matInput placeholder="email"/>
                        <mat-icon matSuffix [color]="color">email</mat-icon>
                        <mat-error>
                          erreur email
                        </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" >
                <mat-form-field class="field" >
                        <input required matInput placeholder="mot de passe" [type]="hide ? 'password' : 'text'" formControlName="motDePasse" required>
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-icon matSuffix [color]="color">lock</mat-icon>
                        <mat-error>
                          erreur mot de passe
                        </mat-error>
                </mat-form-field>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12" >

                <button mat-button class="validerBouton"
                 outline="true" block="true" class="z-depth-0 my-4 waves-effect"
                mdbWavesEffect
                id="createAccountButton"
                class="submit-button"
                aria-label="CREATE AN ACCOUNT"
                [color]="colorAccent"
                (click)="signUp()">
                valider
                </button>

             </div>
        </div>


       


    </form>
    <div class="row">
            <div class="col-md-12" >

                <button 
                mat-button
                style="background-color:#DB4437;"
                (click)="auth.googleLogin()">
                <img class="googleicon" src="./assets/img/google-icon.png" />
                         Google
                </button>
            </div>
        </div>
        
   


    </mat-tab>
    <mat-tab label = "Connexion"> 

          
                    <div class="titre" >Connexion</div>
                <form  [formGroup]="loginForm" (ngSubmit)="login()" style="align-content: center;"
                
             >

                    
                    <div class="row">
                            <div class="col-md-12" >
                            <mat-form-field class="field">
                                    <input required formControlName="email" matInput placeholder="email"/>
                                    <mat-icon matSuffix [color]="color">email</mat-icon>
                                    <mat-error>
                                      erreur email
                                    </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
            
                    <div class="row">
                            <div class="col-md-12" >
                                <mat-form-field class="field" >
                                        <input matInput placeholder="mot de passe" [type]="hide ? 'password' : 'text'" formControlName="motDePasse" required>
                                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        <mat-icon matSuffix [color]="color">lock</mat-icon>
                                        <mat-error>
                                          erreur mot de passe
                                        </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
            
            
                    <div class="row">
                        <div class="col-md-12" >
            
                            <button mat-button class="validerBouton"
                            color="info" outline="true" block="true" class="z-depth-0 my-4 waves-effect"
                            mdbWavesEffect
                            id="createAccountButton"
                            class="submit-button"
                            aria-label="CREATE AN ACCOUNT"
                            [color]="colorAccent"
                            (click)="signUp()">
                            valider
                            </button>
            
                         </div>
                    </div>
            
            
                </form>
                    
                <div class="row">
                    <div class="col-md-12" >

                        <button 
                        mat-button
                        style="background-color:#DB4437;"
                        class="g-signin2"
                        [ngClass.xs]="{'space-full-xs':true}"
                        (click)="auth.googleLogin()">
                        <img class="googleicon" src="./assets/img/google-icon.png" />
                         Google
                        </button>
                    </div>
                </div>
            
       
         
    
    </mat-tab>

</mat-tab-group>
</mat-card-content>
</div>
</ng-template>