<form class="CustomerDetails" [formGroup]="contactForm" (ngSubmit)="onSubmit()" style="align-content: center;">
  <div class="row">
    <div class="col-md-12">

    <p class="titre">Nous Contacter</p>

    <div class="col-md-3">
      <mat-form-field class="full-width-input">
        <input type="text" formControlName="contactFormName" id="defaultContactFormName" matInput
        class="form-control mb-4" placeholder="Nom">      </mat-form-field>
    </div>

    <div class="col-md-3">
      <mat-form-field class="full-width-input">
        <input type="email" formControlName="contactFormEmail" id="defaultContactFormEmail" matInput
      class="form-control mb-4" placeholder="E-mail">    </mat-form-field>
    </div>
      
    
    <mat-form-field>
      <mat-label>Sujet</mat-label>
      <mat-select #fontSize formControlName="contactFormSubjects"  value="sujet" (selectionChange)="triggerResize()" class="browser-default custom-select mb-4">
        <mat-option value="1">Feedback</mat-option>
        <mat-option value="2">Reporter un bug</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="col-md-3">
      <mat-form-field class="full-width-input">
        <textarea formControlName="contactFormMessage" class="form-control rounded-0" matInput id="exampleFormControlTextarea2"
        rows="3" placeholder="Message"></textarea>    
       </mat-form-field>
    </div>

     
  
    <mat-checkbox class="mb-4 checkbox-send">Envoyez-moi une copie de ce message</mat-checkbox>
  

    
    </div><button mat-button color="info" outline="true" block="true" class="z-depth-0 my-4 waves-effect"
    mdbWavesEffect type="submit" >Envoyer</button></div>
  </form>


