<div class="container">

<!--The content below is only a placeholder and can be replaced.-->


<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">
 
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
 
 
    <!-- Name Column -->
    
    <ng-container matColumnDef="uid">
      <mat-header-cell *matHeaderCellDef> uid </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.uid}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="displayName">
      <mat-header-cell *matHeaderCellDef> displayName </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.displayName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> email </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="isOnline">
      <mat-header-cell *matHeaderCellDef> isOnline </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.isOnline}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="isAdmin">
      <mat-header-cell *matHeaderCellDef> Admin </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.isAdmin}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
      <mat-cell *matCellDef="let element"><button mat-button class="button" (click)="changerRole(element.uid)">changer</button></mat-cell> 
    </ng-container>

 
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
  </div>