.home-container {
    width: 100%;
    height: 100%;
  }
  button {
    background-color: #0c120c;
    color: #f7fade;
    border-color: #0c120c;
    border-radius: 5px;
    font-family: "Open Sans", "sans-serif";
    font-size: 20px;
    padding: 5px 10px 7px 10px;
    transition: transform 0.2s;
  }
  
  button:hover {
    transform: scale(1.3);
  }
  .parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    background-image: url("toner_3EkN347_T3k.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  
  h1 {
    color: #0c120c;
    font-weight: normal;
    font-size: 3em;
    font-family: "Playball", "sans-serif";
  }

  /* medium size viewport */
@media screen and (max-width: 1259px) {
  h1{
    padding-left:1em;
    padding-right: 1em;
  }
}
  
  .welcome {
    opacity:1;
    width: 100%;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  