<div class="home-container">
    <div class="parallax">
      <div class="welcome">
        <h1>Bienvenue dans le futur de la mobilité!</h1>
        <a href="#" routerLink="/test-city"
        ><button>COMMANDER</button></a>
      </div>
    </div>
  </div>
<app-info></app-info>
<app-credits></app-credits>
<app-footer></app-footer>
