<div class="chat-app" style="display: flex;
">
<div class="users-list" style="margin-bottom: 5%;" >
<div *ngFor="let user of users ">
  <div *ngIf="cs.getUserId() != user.uid">
    
<div class="userItem" (click)="cs.create(user.uid)">
  <span class="status"     [ngClass]="{

    'on': user.isOnline,

    'off': !user.isOnline

}">
  </span>
  <span class="userName">
    {{user.displayName}}
  </span>
</div>

</div>
</div>
</div>
<div style="margin-left: 30%;">

<ng-container *ngIf="chat$ | async as chat">

    <div #chatBox class="chat">

      <div class="msg animated zoomInUp" *ngFor="let msg of chat.messages; trackBy: trackByCreated">

        <div class="user">
            
               
            <img [src]="msg.photoURL || 'assets/img/user.jpg'" style="width: 50px;">
            <div>
              <span class="tag is-dark">{{ msg.userName || 'userName' }}</span>
            </div>
            <button class="button is-danger is-small" (click)="cs.deleteMessage(chat, msg)">
              Delete

            </button>
        </div>

        <p>{{ msg.content }}</p>

      </div>

    </div>

    <div class="form">
     

      <input class="input" [(ngModel)]="newMsg" maxlength="100" (keydown.enter)="submit()">

      <button (click)="submit()" class="button is-info" [disabled]="!newMsg">Send</button>
    </div>

</ng-container>
</div>
</div>