.chat {
    padding: 10px;
    width: 75%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
  }
.users-list{
  padding-right: 9%;
  color:white;
  font-style: italic;
  background-color: black;
  position: fixed;
  height: 100%;

}
  .chat-app{
    display: flex;
    margin-top: 2.5%;
  }
  
  .msg {
    display: flex;
    align-items: flex-start;
    margin-left: auto;
    order: 2;
    text-align: left;
    border-bottom: 1px solid #e9e9e9;
    padding: 10px;
    width: 90vw;
    font-size: 1.3em;
    animation-delay: 0ms;
    animation-duration: 600ms;
  
    .user {
      margin-right: 10px;
      min-width: 100px;
      border-right: 1px solid #e9e9e9;
    }
  }
  
  .form {
    display: flex;
    position: fixed;
    bottom: 0;
    margin-left: 25%;
    left: 0;
    width: 75%;
    height: 80px;
    padding: 20px 2vw;
    background: rgba(255, 255, 255, 0.8);
  }
  input{
    width: 55%;

  }
  .top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 20px 10vw;
    background: rgba(255, 255, 255, 0.8);
    z-index: 99;
  }

  .userItem{
    height: auto;
    padding: 10px;
    width: 120%;
    margin-top: 10px;
    align-items:flex-start;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: rgb(0, 0, 0);
    border-radius: 28px;
    transition: ease-in 0.2s;
    margin-left: 10%;
}

.userItem:hover{
    background-color: #00a676;
    color: rgb(253, 253, 253);
    transition: ease-in 0.1s;
}


.status{
    border: 1px solid black;
    display: inline-block;
    min-width: 10px;
    min-height: 10px;
    border-radius: 50%;
    margin: 10px 12px 0px 10px;
}

.userName{
    display: inline-block;
}

.userListWrapper {
  background-color: #2A2845;
  color: #fff;
  display: flex;
  font-size: 1.2em;
  flex: 1;
  order: 1;
  padding:20px 0px 40px 30px;
  border-right: 1px solid #222;
}

.feedWrapper {
  background-color: rgb(0, 0, 0);
  
  font-size: 1.2em;
  flex: 5;
  order: 2;
  overflow-y: scroll;
  padding:20px 0px 0px 24px;
}

.chatFormWrapper {
  display: flex;
  height: 50px;
  background-color: #eee;
  z-index: 3;
}


.on{
  background-color: #50b46eec;
}


.off{
  background-color: black;
}

.status{
  border: 1px solid black;
  display: inline-block;
  min-width: 10px;
  min-height: 10px;
  border-radius: 50%;
  margin: 10px 12px 0px 10px;
}

#scroll-style::-webkit-scrollbar-track
{
border-radius: 10px;
background-color: #F5F5F5;
}