<!--  <div class="test-city-container"><h3>Page de test City</h3> -->
<meta
	name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1, user-scalable=0'"
/>

<p style="color: red" id="message">{{ message }}</p>

<div id="formulaire" style="display: none;">
	<label for="action">Action</label>
	<select name="action" id="action" [(ngModel)]="values.action">
		<option value="1">Supprimer</option>
		<option value="2">Mettre à jour</option>
	</select>
	<br />
	<label for="type">Type</label>
	<select name="type" id="type" [(ngModel)]="values.type">
		<option value="0">Camera</option>
		<option value="3">Voiture</option>
		<option value="4">Piéton</option>
		<option value="6">Voiture avec itinéraire</option>
	</select>
	<br />
	<label for="id">ID</label
	><input type="text" id="id" [(ngModel)]="values.id_obj" value="88" />
	<br />
	<label for="posx">Position X</label
	><input type="text" id="posx" [(ngModel)]="values.posx" value="12.3" />
	<br />
	<label for="posy">Position Y</label
	><input type="text" id="posy" [(ngModel)]="values.posy" value="8.69" />
	<br />
	<label for="angle">Angle</label
	><input type="text" id="angle" [(ngModel)]="values.angle" value="12" />
	<br />
	<label for="vitesse">Vitesse</label
	><input type="text" id="vitesse" [(ngModel)]="values.vitesse" value="1" />
	<br />
	<label for="variante">Variante</label
	><input
		type="text"
		id="variante"
		[(ngModel)]="values.variante"
		value="250"
	/>
	<br />
	<label for="zoom">Zoom</label
	><input type="text" id="zoom" [(ngModel)]="values.zoom" />
	<br />
	<label for="id_start">ID Start</label
	><input type="text" id="id_start" [(ngModel)]="values.id_start" />
	<br />
	<label for="id_finish">ID Finish</label
	><input type="text" id="id_finish" [(ngModel)]="values.id_finish" />
	<input type="button" id="go" value="Envoyer" (click)="envoyerMessage()" />
	<input
		type="text"
		id="nbrEnvois"
		value="1"
		style="width: 40px"
		[(ngModel)]="nbrEnvois"
	/>
	<label for="debug">Renvoi:</label>
	<input type="checkbox" id="debug" [(ngModel)]="values.debug" />
</div>
<div id="sketch-holder"></div>
