<footer class="page-footer">
  <div class="footer-container">
    <div class="footer-left">
      <div class="title">
        A propos du projet
      </div>
      <p>
        Projet tuteuré réalisé pendant l'année scolaire 2019 - 2020 dans le
        cadre de la deuxième année de DUT Informatique à l'IUT de
        Belfort-Montbéliard, dont le but était de modéliser un réseau de
        voitures autonomes implémenté dans une application web.
      </p>
    </div>

    <div class="footer-center">
      <div class="title">
        Remerciements
      </div>
      <p>
        Nous remercions notre tuteur M. HILDENBRAND pour ses nombreux conseils
        utiles à la réalisation de ce projet.
      </p>
    </div>
    <div class="footer-right">
      <div class="title">
        Liens Utiles
      </div>

      <ul>
        <li>Git Repository</li>
        <li>Mentions légales</li>
      </ul>
    </div>
  </div>
</footer>
