.page-footer {
  background-color: #0c120c;
  color: #f7fade;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.footer-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.footer-container > * {
  box-sizing: border-box;
}

/* medium size viewport */
@media screen and (max-width: 1259px) {
  /* Column Gap */
  .footer-center {
    margin-right: 10%;
  }
  /* Item sizing */
  .footer-left {
    flex: 0 1 100%;
  }

  .footer-center,
  .footer-right {
    flex: 0 1 40%;
  }
}
/* small size viewport */
@media screen and (max-width: 599px) {
  /* Column Gap */
  .footer-center {
    margin-right: 0;
  }
  /* Item sizing */
  .footer-left {
    flex: 0 1 100%;
  }

  .footer-center,
  .footer-right {
    flex: 0 1 100%;
  }
}
.footer-left {
  width: 45%;
  padding-right: 5%;
}

.footer-right{
  width: 20%;
}

.footer-center {
    padding-right:5%;
    width:30%;
}

.title {
  font-size: 1em;
}

p,
ul {
  font-size: 0.7em;
  text-align: justify;
}
